@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}
body {
  background-color: #fff;
}

/* ----Header block starts here--  */
.header {
  width: 100%;
  height: 76px;
  z-index: 9999;
  position: fixed;
  top: 0px;
  border-bottom: 2px solid rgb(160, 155, 155);
  background-color: #fff;
}
.header article {
  width: 1268px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}
.header article div ul li {
  list-style: none;
}
.header article img {
  width: 169px;
  height: 83.2px;
}

.header article .nav ul {
  width: 1099px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header article .nav ul li {
  margin: 3px 19px;
  padding: 4px;
}
.header article .nav ul li a {
  width: 53px;
  height: 26px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  font-family: "Signika", sans-serif;
  color: rgb(68, 64, 64);
}
.header article .nav ul div a {
  content: "";
  height: 14px;
  display: block;
  background-color: #5f259f;
  width: 117%;
  margin: -7px -7%;
  position: relative;
  top: 21px;
}
.header article .nav ul li a:hover {
  color: #5f259f;
}
/* ----Header block ends here--  */
/*---container1 starts here---*/
.container1 {
  height: 450px;
  width: 100%;
}
.conta1 {
  width: 403px;
  height: 147px;

  position: relative;
  top: -295px;
  left: 97px;
}
.conta1 .cont {
  padding-left: 91px;
  padding-top: 28px;
}
.cont h2 {
  padding-bottom: 23px;
  font-size: 39px;
  color: #fff;
}
.cont p {
  color: #fff;
  font-size: 25px;
}
/*---container1 ends here---*/
/*---container11 starts here*/
.container11 {
  width: 100%;
  height: 86px;
}
.container11 article {
  width: 1014px;
  height: 86px;
  margin: 0 auto;
}
.container11 article .options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 70px;
  border-radius: 36px;
  box-shadow: 0 12px 26px 0 rgba(0, 0, 0, 0.14);
  position: relative;
  top: -38px;
  background: #fff;
  overflow: hidden;
}
.options a {
  text-decoration: none;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  padding: 34px;
  margin: 2px;
  font-size: 20px;
  font-weight: bold;
}
.options a:hover {
  background-color: #d3cae2;
}
/* ----container2 block ends here--  */
/*--container11 ends here----*/
/*---container2 starts here---*/
.container2 {
  width: 100%;
  height: 583px;
}
.container2 article {
  width: 1268px;
  height: 583px;
  margin: 0 auto;
}
.content1 {
  width: 86%;
  margin: 80px auto 0;
}
.content1 .custom {
  margin-bottom: 40px;
}
.custom h1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: -0.3px;
  color: #361968;
  margin-bottom: 0;
}
.custom p {
  width: 39%;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.69;
  letter-spacing: normal;
  color: #6c6c6c;
}
.content2 {
  display: flex;
  width: 1088px;
  height: 372px;
  margin: 0 auto;
  justify-content: space-between;
}
.content2 div {
  width: 100%;
}
.content2 div h2 {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.05;
  letter-spacing: -0.33px;
  color: #361968;
  margin: 20px 0px;
}
.content2 div p {
  color: #606060;
  line-height: 1.56;
}
.support {
  height: 160px;
  padding: 8px;
  margin: 20px 0 0;
}
.support p {
  font-size: 0.9375rem;
  display: inline-block;
  margin-right: 22px;
  vertical-align: middle;
  line-height: 1.8;
  color: #606060;
  margin: 12px 0px;
}
.support p a {
  text-decoration: none;
}
/*---container2 ends here---*/
/*---container3 starts here---*/
.container3 {
  width: 100%;
  height: 431px;
}
.container3 article {
  width: 1268px;
  height: 431px;
  margin: 0 auto;
}
.container3 article .main {
  width: 1090px;
  height: 389px;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.main div h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.41;
  letter-spacing: -0.48px;
  color: #361968;
  margin-top: 0;
  margin-bottom: 2px;
  margin-bottom: 28px;
}
.main div p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: normal;
  color: rgb(112, 103, 103);
  font-size: 18px;
  margin-bottom: 20px;
}
.main div.loc {
  margin-top: 43px;
  margin-left: -25px;
}
.main div .loc p {
  font-size: 28px;
  color: #6735b9;
}
.main div .loc img {
  margin: 0 31px;
}
.main div .loc {
  display: flex;
}
.main .d2 {
  margin: 10px;
  position: relative;
  left: -23x;
}

.main .d3 {
  position: relative;
  background-color: #ede3ff;
  width: 300px;
  top: 85px;
  left: -13px;
}
/*---container3 ends here---*/

/*------footer starts here---*/
.foot {
  width: 100%;
  height: 316px;
}
.foot article {
  width: 1268px;
  height: 316px;
  margin: 0 auto;
}
.foot article .content {
  display: flex;
}
.foot article .empty {
  width: 100%;
  height: 76px;
}
.foot article .content div {
  margin: -9px 28px;
}
.content h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 2.29;
}
.content ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
  padding-left: 0;
  width: 124%;
}
.content ul li {
  list-style: none;
}
.content ul li a {
  font-size: 0.875rem;
  line-height: 2.43;
  font-weight: 500;
  letter-spacing: -0.21px;
  text-decoration: none;
  color: #333;
}
.content .f5 .logo ul {
  display: flex;
}
.logo {
  margin: -5px 7px;
}
.logo img {
  margin: 9px;
  margin-left: -15px;
  padding: 15px;
  margin-top: 15px;
}
/*------footer ends here---*/
