@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}
body {
  background-color: #fff;
}
/* ----Header block starts here--  */
.header {
  width: 100%;
  height: 76px;
  position: sticky;
  top: 0px;
  border-bottom: 2px solid rgb(160, 155, 155);
  background-color: #fff;
}
.header article {
  width: 1268px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}
.header article div ul li {
  list-style: none;
}
.header article img {
  width: 169px;
  height: 83.2px;
}

.header article .nav ul {
  width: 1099px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header article .nav ul li {
  margin: 3px 19px;
  padding: 4px;
}
.header article .nav ul li a {
  width: 53px;
  height: 26px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  font-family: "Signika", sans-serif;
  color: rgb(68, 64, 64);
}
.header article .nav ul div a {
  content: "";
  height: 14px;
  display: block;
  background-color: #5f259f;
  width: 117%;
  margin: -7px -7%;
  position: relative;
  top: 21px;
}
.header article .nav ul li a:hover {
  color: #5f259f;
}

.itsH2 {
  padding-top: 58px;
  padding-left: 134px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.41;
  letter-spacing: -0.48px;
  color: #361968;
}
/* ----Header block ends here--  */
/*-----RecentNewsBlock-----*/
#recentBlock {
  width: 81%;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  margin-left: 131px;
  margin-top: 19px;
  height: 274px;
}
#recentBlock article {
  display: flex;
}
.recentleftBlock {
  width: 40%;
}
.recentleftBlock img {
  width: 347px;
  margin-top: 28px;
  margin-left: 111px;
}
.recentrightBlock {
  width: 40%;
  margin-left: 191px;
  margin-top: 10px;
}
.recentrightBlock a {
  text-decoration: none;
}
.recentrightpara p {
  font-size: 0.72rem;
  line-height: 1.79;
  color: #333;
  width: 97px;
}
.recentrighthead {
  padding-top: 19px;
}
.recentrighthead h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.58;
  letter-spacing: -0.39px;
  color: #4a4a4a;
  width: 255px;
}
.recentrightpara1 {
  padding-top: 16px;
  padding-left: 3px;
}
.recentrightpara1 p {
  font-size: 0.72rem;
  font-weight: 400;
  line-height: 2.14;
  letter-spacing: 0;
  color: #333;
  width: 319px;
}
.recentrightLive {
  font-size: 0.72rem;
  line-height: 2.14;
  color: #333;
  padding-left: 3px;
  font-weight: 400px;
  padding-top: 7px;
}
/*----ThreeDivisionBlock-----*/
.inTheDivMainBlock {
  margin-left: 39px;
}
.inTheDivMainBlock a {
  width: 90%;
  display: flex;
  margin-left: 90px;
  padding-top: 40px;
  text-decoration: none;
}
.inTheDivBlock1,
.inTheDivBlock2,
.inTheDivBlock3 {
  width: 29%;
  background-color: white;
  border: 2px solid black;
  display: flex;
  height: 310px;
  margin-right: 35px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
}
.inTheDivpara p {
  font-size: 0.72rem;
  line-height: 1.79;
  color: #333;
  width: 97px;
  padding-top: 37px;
  padding-left: 22px;
}
.inTheDivhead {
  padding-top: 70px;
}
.inTheDivhead h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.39px;
  color: #4a4a4a;
  width: 243px;
  margin-left: -73px;
}
.inTheDivpara1 p {
  font-size: 0.73rem;
  line-height: 1.79;
  color: #333;
  padding-top: 157px;
  width: 281px;
  margin-left: -239px;
}
.inTheDivBlock1Live {
  padding-top: 270px;
  color: #333;
  font-size: 0.73rem;
  margin-left: -279px;
  border-bottom: 4px solid #23c4da;
  width: 79%;
}
.inTheDivBlock1:hover {
  box-shadow: 0 19px 25px 0 rgba(0, 0, 0, 0.19);
}
.inTheDivarr {
  padding-top: 257px;
  font-size: 25px;
  margin-left: -9px;
  display: none;
  color: #6739b7;
}
.inTheDivMainBlock .inTheDivBlock1:hover .inTheDivarr {
  display: block;
}
.inTheDivBlock1Live1 {
  padding-top: 270px;
  color: #333;
  font-size: 0.73rem;
  margin-left: -279px;
  border-bottom: 4px solid #6739b7;
  width: 79%;
}
.inTheDivBlock2:hover {
  box-shadow: 0 19px 25px 0 rgba(0, 0, 0, 0.19);
}
.inTheDivMainBlock .inTheDivBlock2:hover .inTheDivarr {
  display: block;
}
.inTheDivBlock1Live2 {
  padding-top: 270px;
  color: #333;
  font-size: 0.73rem;
  margin-left: -279px;
  border-bottom: 4px solid #fa6f96;
  width: 79%;
}
.inTheDivBlock3:hover {
  box-shadow: 0 19px 25px 0 rgba(0, 0, 0, 0.19);
}
.inTheDivMainBlock .inTheDivBlock3:hover .inTheDivarr {
  display: block;
}
.mediakitheading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.41;
  letter-spacing: -0.48px;
  color: #361968;
  padding-top: 65px;
  padding-left: 141px;
}
.downloadablePara {
  font-size: 0.77rem;
  font-weight: 400;
  line-height: 2.14;
  letter-spacing: 0;
  color: #333;
  padding-left: 141px;
  padding-top: 18px;
}
/*----MediaKitBlock------*/
#mediaColorImage {
  width: 80%;
  margin-left: 37px;
  margin-top: 26px;
}
.mediaMainBlock {
  width: 80%;
  display: flex;
  height: 210px;
}
.mediaFirstImage a,
.mediaSecondImage a,
.mediaThirdImage a {
  text-decoration: none;
}
.mediaFirstImage a img {
  margin-left: 26px;
}
.mediaFirstImage {
  width: 33%;
  background-color: rgb(126, 110, 230);
  margin-left: 105px;
  border-radius: 5px;
}
.media1 {
  margin-top: -164px;
  height: 180px;
  margin-left: 10px;
}
.mediaMainHeading {
  margin-top: -70px;
  margin-left: 33px;
  height: 93px;
  font-size: 0.99rem;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0.01px;
  color: #fff;
}
.mediaMainSpan {
  font-size: 0.79rem;
  line-height: 1.42;
  letter-spacing: 0.01px;
}
.downoladMedia {
  margin-top: -79px;
  margin-left: 194px;
}
.mediaFirstImage:hover,
.mediaSecondImage:hover,
.mediaThirdImage:hover {
  box-shadow: 0 19px 25px 0 rgba(0, 0, 0, 0.19);
}
.mediaSecondImage {
  width: 33.5%;
  background-color: rgb(250, 111, 150);
  margin-left: 89px;
  border-radius: 5px;
}
.media2 {
  margin-top: -189px;
  height: 183px;
  margin-left: 25px;
}
.mediaMainHeading1 {
  margin-top: -96px;
  margin-left: 26px;
  height: 93px;
  font-size: 0.99rem;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0.01px;
  color: #fff;
}
.mediaMainSpan1 {
  font-size: 0.79rem;
  line-height: 1.42;
  letter-spacing: 0.01px;
}
.downoladMedia1 {
  margin-top: -54px;
  margin-left: 223px;
}
.mediaThirdImage {
  width: 33.5%;
  background-color: rgb(35, 196, 218);
  margin-left: 89px;
  border-radius: 5px;
}
.media3 {
  margin-top: -170px;
  height: 160px;
  margin-left: 25px;
}
.mediaMainHeading2 {
  margin-top: -73px;
  margin-left: 26px;
  height: 93px;
  font-size: 0.99rem;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0.01px;
  color: #fff;
}
.mediaMainSpan2 {
  font-size: 0.79rem;
  line-height: 1.42;
  letter-spacing: 0.01px;
}
/*---ArchivesBlock----*/
#archiveBlockStart {
  width: 100%;
  background-color: #f6f2ff;
  height: 3290px;
  margin-top: 60px;
}
#archiveBlockStart article {
  width: 100%;
}
.archiveHeading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.41;
  letter-spacing: -0.48px;
  color: #361968;
  padding-top: 50px;
  padding-left: 143px;
}
.inTheDivBlock1Archive1 {
  padding-top: 270px;
  color: #333;
  font-size: 0.73rem;
  margin-left: -279px;
  border-bottom: 4px solid #fb6f96;
  width: 79%;
}
.inTheDivBlock1Archive2 {
  padding-top: 270px;
  color: #333;
  font-size: 0.73rem;
  margin-left: -279px;
  border-bottom: 4px solid #b2d3fc;
  width: 79%;
}
/*------footer starts here---*/
.foot {
  width: 100%;
  height: 316px;
}
.foot article {
  width: 1268px;
  height: 316px;
  margin: 0 auto;
}
.foot article .content {
  display: flex;
}
.foot article .empty {
  width: 100%;
  height: 76px;
}
.foot article .content div {
  margin: -9px 28px;
}
.content h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 2.29;
}
.content ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
  padding-left: 0;
  width: 124%;
}
.content ul li {
  list-style: none;
}
.content ul li a {
  font-size: 0.875rem;
  line-height: 2.43;
  font-weight: 500;
  letter-spacing: -0.21px;
  text-decoration: none;
  color: #333;
}
.content .f5 .logo ul {
  display: flex;
}
.logo {
  margin: -5px 7px;
}
.logo img {
  margin: 9px;
  margin-left: -15px;
  padding: 15px;
  margin-top: 15px;
}
/*------footer ends here---*/
